:root {
    --stroke-dashoffset: 0;
}

body {
    background-color: #bbd0ff;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #b8c0ff;
    overflow-x: hidden;
    padding-top: 90px;
    box-shadow: 0 5px 25px #bdb8ff;
}

.sidebar.close {
    width: 0px;
}

.sidebar a {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    padding: 8px 24px 8px 24px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #818181;
  }

  .toggle-btn {
    position: absolute;
    padding: 8px 24px 8px 24px;
    font-size: 60px;
    cursor: pointer;
    background: none;
    border: none;
    color: #f1f1f1;
    z-index: 3;
    transition: 0.3s;
}

.toggle-btn:hover {
    color: #818181;
}

.timer {
    width: 160px;
    height: 160px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-75%, -75%);
}

.outer-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 6px 6px 10px -1px #bdb8ff,
                -6px -6px 10px -1px #e0dff7;
}

.inner-circle {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px #bdb8ff,
                inset -6px -6px 10px -1px #e0dff7,
                -0.5px -0.5px 0px #f1f0ff,
                0.5px 0.5px 0px #bdb8ff,
                0px 12px 10px -10px #beb8ff;
}

#timer-text {
    font-size: 2em;
    font-weight: 600;
    color: #f1f1f1;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 30px;
    stroke-dasharray: 659.734457;
    stroke-dashoffset: var(--stroke-dashoffset);
}

svg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timer, circle {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.regular-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto; /* Center the button */
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    border: none;
    border-radius: 25px; /* Rounded edges */
    background-color: #d1c2ff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
  
  .regular-button:hover {
    background-color: #c8b6ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

  .regular-button:active {
    background-color: #d1c2ff; /* Revert to the original background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Maintain the original box-shadow */
}

  #start-button {
    bottom: calc(50% - 200px);
}

  #reset-button {
    bottom: calc(50% - 275px);
    transition: opacity 0.5s ease;
    opacity: 0;
    cursor: default;
}